@mixin center_container ($wd){
    width: $wd;
    margin: 0 auto;
}

@mixin flexbox {
    display:flex;
    flex-wrap:wrap;
    @content
}

@mixin visited ($color){
    &:visited {
        color: $color;
    }
}