
/** FONT STYLES **************/

$general-font: 'Montserrat', sans-serif;

$average-weight:400;
$heavy:500;
$bold: 800;

/**   FONT COLORS **********/

$black: #000;
$blue: rgb(103, 184, 216);
$green: rgb(131, 199, 164);
$white: #fff;
$dark-grey: rgb(133, 130, 130);


/**   FONT SIZES   ***********/

$small: 1rem;
$normal: 1.1rem;
$big: 1.5rem;


/****  GUTTERS  ************/

$small-gut: 10px;
$standard: 25px;
$large-gut: 50px;