
.grid__row {

    font-size: $normal;
    margin: $standard 0;
    @include flexbox {
        flex-direction: column;
    }

    @include media ($num: null){
        flex-direction: row;
        justify-content: space-between;
    }
}

.grid__col--3 {
    @include media($num: null) {
        flex-basis: 25%;
        margin-left: 5%;
    }
}

.grid__col--4 {
    @include media ($num: null){
        flex-basis: 30%;
    }
}

.grid__col--6 {
    @include media ($num: null) {
        margin-left: 5%;
        margin-right: auto;
    }
    
}

.grid__col--8 {
    @include media ($num: null){
        flex-basis: 60%;
    }
}

.grid__col--9 {
    @include media ($num: null) {
        flex-basis: 50%;
        margin: 0 auto;
    }

    ul {
        @include media ($num: null) {
            @include flexbox {
                justify-content: space-around;
                margin-right: 10%;
            }
        }

    }
}

.grid__col--12 {

    @include media ($num: null) {
        margin-top: $standard;
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-around;
    }

    button {
        flex-basis: 16%;
    }
}

.grid__col--3.theme__colors {
    @include grid($purple);
    @extend %content-to-left;

    @include media ($num: null) {
        flex-basis: 22%;
        text-align: center;
        margin-left: 0;
    }
}

.grid__col--4.theme__colors{
    @include grid($light-blue);
    @extend %content-to-left;

    @include media ($num: null){
        flex-basis: 30%;
        text-align: center;
    };
}

.grid__col--5.theme__colors{
    @include grid($green);
    @extend %content-to-left;

    @include media ($num: null){
        flex-basis: 39%;
        text-align: center;
    };
}

.grid__col--6.theme__colors {
    @include grid($blue);
    @extend %content-to-left;

    @include media ($num: null){
        flex-basis: 47%;
        text-align: center;
        margin: 0;
    };
}

.grid__col--7.theme__colors {
    @include grid($light-red);
    @extend %content-to-left;

    @include media ($num: null){
        flex-basis: 55%;
        text-align: center;
    };
}

.grid__col--8.theme__colors {
    @include grid($light-orange);
    @extend %content-to-left;

    @include media ($num: null){
        flex-basis: 64%;
        text-align: center;
    };
}

.grid__col--12.theme__colors {
    @include grid($light-green);
    @extend %content-to-left;

        @include media(1);
}



.centered {
    @include media ($num: null) {
        margin: 0 auto;
    }
}

