.img--logo {
    @extend %display-content;
    margin:  0 auto;
}

.img--frame {
    border: 1px solid $dark-grey;
    padding: $small-gut;
    width: 95%;
}

.img--avatar {
    @extend %display-content;
    margin: $standard auto 0;
}